.subjevko {
  background-color: aqua;
  border-left: 1px solid red;
  border-right: 1px solid red;
}

.suffix {
  background-color: aquamarine;
  border-left: 1px solid red;
  border-right: 1px solid red;
}

.sub {
  border: 1px solid lightblue;
  background: rgb(1, 60, 80);
  display: block;
}

.suf {
  border: 1px solid green;
  background: rgb(0, 66, 0);
  display: block;
}

pre {
  display: inline-block;
  clear: both;
  line-height: 1.7;
}

.jevko {
  border: 1px solid orange;
  background: rgb(98, 71, 2);
  display: block
}

.inline {
  display: inline;
}

.prefix {
  border: 1px solid yellow;
  background: rgb(80, 80, 1);
}

.gray {
  background: rgb(62, 62, 62);
}